<form [formGroup]="registrationForm">
    <label for="name">Name: </label>
    <input type="text" id="name" formControlName="name" />
    <label for="email">Email: </label>
    <input type="text" id="email" formControlName="email" />

    <div formGroupName="address">
        <label for="city">City: </label>
        <input type="text" id="city" formControlName="city" />

        <label for="street">Street: </label>
        <input type="text" id="street" formControlName="street" />
    </div>
</form>


<button (click)="changeCity()">Change city</button>

<div>{{ registrationForm.value | json }}</div>
